<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="696f8758-557b-4db7-962b-0567844b36d5" name="providerProfilePA" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="696f8758-557b-4db7-962b-0567844b36d5fileName">providerProfilePA</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="9011badc-cc95-4972-87f6-aa442d0f928d"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>
