<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="85c4dde0-c9d2-4ad3-a7c9-72f2d42795e8" name="Claims API for all session types" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="85c4dde0-c9d2-4ad3-a7c9-72f2d42795e8fileName">Claims-API-for-all-session-types</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="ebe6c5aa-0fb0-4d52-b385-f567f8ca23e9"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>
