<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b0e9277d-eaa8-4f82-a835-7dc6cb7e6959" name="Organization" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b0e9277d-eaa8-4f82-a835-7dc6cb7e6959fileName">Organization</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="8ef1af86-a46e-418d-ac54-a701fcbc1037"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>
