<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="cb9add1e-dbd7-4d72-a8bc-414143db6d16" name="ContentLibrary" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="cb9add1e-dbd7-4d72-a8bc-414143db6d16fileName">ContentLibrary</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="b78b8081-6650-464a-a666-15f197cf5945"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="660b0e8e-f2c6-4e81-9f53-5e8271fd553e"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>