<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0b317c0f-3b82-4feb-befa-1606129ab1f6" name="QSEnrollment" xmlns:con="http://eviware.com/soapui/config"><con:description>TestSuite generated for REST Service [http://demoapi.healthfleet.com]

Updated peferences update from below to new data on 7/24 : {
  "personHomePhone": "1234567890",
  "personMobilePhone": "",
  "personEmail": "${Config#EmailPrefix}${EmailGenerator#ID}@yopmail.com",
  "preferredContactMethod": "Phone,Email",
  "id": "${Property#MemberID}"
}</con:description><con:settings><con:setting id="0b317c0f-3b82-4feb-befa-1606129ab1f6fileName">QSEnrollment</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="bf042a06-a5cb-4505-94db-e6bf25d8d170"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="e77b85d4-9049-451c-9fe9-8d6b85a38a79"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="03abfe7b-c5a0-4e06-a4f5-56cb8a387f80"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="f77bad76-707f-481a-bcd0-d74ec21326aa"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>
