<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="a8f32e7c-a844-4238-979e-efd44b38aa73" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://uatperfapi.healthfleet.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="a8f32e7c-a844-4238-979e-efd44b38aa73fileName">http%3A%2F%2Fuatperfapi.healthfleet.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://kulfiapi.zillion.com</con:endpoint><con:endpoint>https://provider.myorbera.test/</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="b78b8081-6650-464a-a666-15f197cf5945"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="660b0e8e-f2c6-4e81-9f53-5e8271fd553e"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>