<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="b36b499e-5225-4e32-8152-79c7b90f5195" wadlVersion="http://wadl.dev.java.net/2009/02" name="EnvEndpoint" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b36b499e-5225-4e32-8152-79c7b90f5195fileName">EnvEndpoint</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://devfeature7.zillion.com</con:endpoint><con:endpoint>https://provider.myorbera.devfeature7/api/generateSignatureToken</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="ebe6c5aa-0fb0-4d52-b385-f567f8ca23e9"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>
