<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="d6edb666-751e-400f-b9b9-a5bcbe928309" wadlVersion="http://wadl.dev.java.net/2009/02" name="gst" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="d6edb666-751e-400f-b9b9-a5bcbe928309fileName">gst</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/><con:environmentSpec><con:entry environmentId="d6d0893e-a612-4f58-aeb3-67a722f27a48"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>
