<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="c4e59bff-4e8c-4faf-b399-5a07fe4bff93" wadlVersion="http://wadl.dev.java.net/2009/02" name="GST" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="c4e59bff-4e8c-4faf-b399-5a07fe4bff93fileName">GST</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/><con:environmentSpec><con:entry environmentId="f885e91e-8128-4d26-9cca-c52947453fa6"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>
