<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="ae6ff53b-43a5-4a51-8bf1-94efff01c1a6" wadlVersion="http://wadl.dev.java.net/2009/02" name="GST" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="ae6ff53b-43a5-4a51-8bf1-94efff01c1a6fileName">GST</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/><con:environmentSpec><con:entry environmentId="e0dbaec5-c584-4751-ae6f-4c2e03f627ca"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>
