<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="f15ad5d2-beac-4fb4-bcba-0da18300ae86" wadlVersion="http://wadl.dev.java.net/2009/02" name="GST" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="f15ad5d2-beac-4fb4-bcba-0da18300ae86fileName">GST</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/><con:environmentSpec><con:entry environmentId="6629b04a-be6b-44e1-9a1e-c031c4603ae6"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>
