<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="df3ee8bd-196d-4fb7-a580-9fb39b5c1877" wadlVersion="http://wadl.dev.java.net/2009/02" name="gst" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="df3ee8bd-196d-4fb7-a580-9fb39b5c1877fileName">gst</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/><con:environmentSpec><con:entry environmentId="8d6de2a7-458c-4e32-8e57-b7fe7c33a20c"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>
