<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="8f94858b-fa2a-4d2f-87df-5f4615c18b4a" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://kulfiapi.zillion.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="8f94858b-fa2a-4d2f-87df-5f4615c18b4afileName">https%3A%2F%2Fkulfiapi.zillion.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://kulfiapi.zillion.com</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="d6d0893e-a612-4f58-aeb3-67a722f27a48"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>
