<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9953f412-82d0-4bdf-a434-8d41d09f782b" name="MessageCenterCoach" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="9953f412-82d0-4bdf-a434-8d41d09f782bfileName">MessageCenterCoach</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="8d6de2a7-458c-4e32-8e57-b7fe7c33a20c"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>
