<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e6d069ce-6aeb-41c2-aa6f-327a14270ee2" name="MemberSetting" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="e6d069ce-6aeb-41c2-aa6f-327a14270ee2fileName">MemberSetting</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="ebe6c5aa-0fb0-4d52-b385-f567f8ca23e9"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="92686277-8594-458d-98c8-74d3a5f49b1d"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="f24b7168-cee9-4b20-abe3-01da7d59ede4"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="64a6d2e9-1d95-46b8-8366-f2941829bcae"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>
