<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="8795c07a-8da7-44c8-9383-de665969cafe" name="TrackerExercise" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="8795c07a-8da7-44c8-9383-de665969cafefileName">TrackerExercise</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="f885e91e-8128-4d26-9cca-c52947453fa6"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>
