<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="c6025bc3-61a2-4ebb-86fb-ce3eec5708fd" wadlVersion="http://wadl.dev.java.net/2009/02" name="${DataSource#environment}" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="c6025bc3-61a2-4ebb-86fb-ce3eec5708fdfileName">%24%7BDataSource%23environment%7D</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>${DataSource#environment}</con:endpoint><con:endpoint>${DataSource#tokenEndPoints}</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="e0dbaec5-c584-4751-ae6f-4c2e03f627ca"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>
