<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="fabb7d22-feee-47fa-b42f-dd0bd12766b1" wadlVersion="http://wadl.dev.java.net/2009/02" name="${DataSource#environment}" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="fabb7d22-feee-47fa-b42f-dd0bd12766b1fileName">%24%7BDataSource%23environment%7D</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>${DataSource#environment}</con:endpoint><con:endpoint>${DataSource#tokenEndPoints}</con:endpoint></con:endpoints><con:environmentSpec><con:entry environmentId="f885e91e-8128-4d26-9cca-c52947453fa6"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>
