<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="b302a237-94be-4fbf-9090-c609503b25db" wadlVersion="http://wadl.dev.java.net/2009/02" name="generateSignatureTokenEndpoint" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b302a237-94be-4fbf-9090-c609503b25dbfileName">generateSignatureTokenEndpoint</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/><con:environmentSpec><con:entry environmentId="ebe6c5aa-0fb0-4d52-b385-f567f8ca23e9"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>
