<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6541af39-2602-4a24-b449-fcfde75dccdd" name="ClassApprove" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="6541af39-2602-4a24-b449-fcfde75dccddfileName">ClassApprove</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="59861d7d-b7f5-4e3f-b888-5f9fdcb4b1de"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>
