<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="1aa6f70d-e5bc-439d-aa47-d8085b787005" wadlVersion="http://wadl.dev.java.net/2009/02" name="GST" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="1aa6f70d-e5bc-439d-aa47-d8085b787005fileName">GST</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/><con:environmentSpec><con:entry environmentId="59861d7d-b7f5-4e3f-b888-5f9fdcb4b1de"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:interface>
