<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="bb7537a6-0dfe-4b58-9a6e-e50479ef74b5" name="MessageCenterProvider" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="bb7537a6-0dfe-4b58-9a6e-e50479ef74b5fileName">MessageCenterProvider</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="d6d0893e-a612-4f58-aeb3-67a722f27a48"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>
